.masked-input-container {
	align-items: center;
	display: flex;
	position: relative;
	margin-bottom: 1em;
}

.masked-field-form {
	width: 80%;
}

.masked-input-real-value {
	display: inline-block;
	letter-spacing: 1px;
	position: absolute;
}

.masked-input-field, 
.masked-input-real-value {
	border: none;
	font-size: 1.5em;
	padding: 25px 15px;
}

.masked-input-field {
	border-radius: 25px;
	border-color: #fff;
	color: #fff;
	width: 100%;
}

.masked-input-real-value {
	display: flex;
	align-items: center;
}